# Autotools

# automake
Makefile.in

# autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# C Code

# Build Files
*.bak
*.new

# Object files
*.d
*.d.*
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lai
*.lo
*.slo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
core
vgcore.*

# Project Specific
/.vagrant
/scripts/ack-grep_1.96-2_all.deb
/src/sdn_sensor
/conf/sdn_sensor_vagrant.json

# Perl Code
/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.bs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot
