[submodule "external/nanomsg"]
	path = external/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "external/spcdns"]
	path = external/spcdns
	url = https://github.com/megahall/SPCDNS.git
[submodule "external/jemalloc"]
	path = external/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "external/cre2"]
	path = external/cre2
	url = https://github.com/marcomaggi/cre2.git
[submodule "external/dpdk"]
	path = external/dpdk
	url = https://github.com/megahall/dpdk_mhall.git
[submodule "external/virtio-net-pmd"]
	path = external/virtio-net-pmd
	url = https://github.com/megahall/virtio_net_pmd.git
[submodule "external/lmdb"]
	path = external/lmdb
	url = https://github.com/megahall/lmdb.git
[submodule "external/jnano"]
	path = external/jnano
	url = https://github.com/megahall/jnano.git
